PORT=5000
MONGO_URI=mongodb://localhost:27017/medconnect
JWT_SECRET=medconnect_jwt_super_secret_key_123456
JWT_REFRESH_SECRET=medconnect_refresh_super_secret_key_789012

# Cloudinary Integration (Optional)
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

# Email SMTP config (Optional)
EMAIL_USER=
EMAIL_PASS=
